html {
    font-family: 'Helvetica Neue', helvetica, arial, sans-serif;
    font-size: 100%;
}

body {
    margin: 0;
    padding: 0;
}

header {
    margin: 0 10px;
}

h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    margin-top: 20px;
    font-size: 1.5em;
}

main h2 {
    font-size: 1.4em;
    margin: 0 0 10px 10px;
}

main {
    margin: 0;
    padding-top: 10px;
}

nav {
    border-bottom: 1px solid #ccc;
}

nav ul {
    padding: 0;
}

nav li {
    display: inline;
    padding-right: 10px;
}

nav li:after {
    content: '\a0\a0\a0\b7';
}

nav li:last-child:after {
    content: '';
}

a {
    color: #666;
}

a:visited {
    color: #666;
}

a:hover {
    color: #777;
}

nav ul li.selected a {
    color: #777;
    text-decoration: none;
}

.portfolio {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolio .project {
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #eee;
    padding: 15px;
    -moz-flex: 1 0 300px;
    -ms-flex: 1 0 300px;
    -webkit-flex: 1 0 300px;
    flex: 1 0 300px;
    margin: 10px;
    max-width: 600px;
}

.portfolio .project h3 {
    text-align: center;
    margin-top: 0;
}

.portfolio .project img {
    width: 100%;
}

.portfolio .project .company-date,
.portfolio .project .type-role {
    margin: 0;
}

.portfolio .project .tags {
    text-align: center;
    font-size: 0.8em;
    margin-top: 10px;
    line-height: 2em;
}

.tags span {
    background: #ddd;
    border-radius: 10px;
    padding: 4px 5px;
    margin: 0 1px;
}

.portfolio .project .details {
    padding-left: 20px;
    color: #333;
    font-size: 0.95em;
}

.portfolio .project .link {
    text-align: center;
    margin: 20px 0 5px 0;
}

.portfolio .project .link a {
    background: #84d76a;
    border-radius: 10px;
    padding: 4px 20px;
    text-decoration: none;
    color: #fff;
}

/* For larger screen sizes */

@media (min-width: 601px) {
    header {
        margin: 0 20px;
    }
    main {
        margin: 0 10px;
    }
}
