  <footer>
    <p><a href="https://twitter.com/poshaughnessy">Twitter</a> | <a href="https://github.com/poshaughnessy/">Github</a> | <a href="http://uk.linkedin.com/in/poshaughnessy/">LinkedIn</a>| <span>© 2016 Peter O'Shaughnessy</span></p>
  </footer>
  </body>
</html>
