    <footer>
      <p><a rel="me" href="https://toot.cafe/@peter">Mastodon</a> | <a href="https://github.com/poshaughnessy/">Github</a> | <a href="http://uk.linkedin.com/in/poshaughnessy/">LinkedIn</a> | <a href="https://github.com/poshaughnessy/peteroshaughnessy.com">Source</a> | <a href="rss.xml">RSS</a></p>
      <p>© Peter O'Shaughnessy</p>
    </footer>
  </body>
</html>
