<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{#if title}}
      <title>{{title}} - Peter O'Shaughnessy</title>
    {{else}}
      <title>Peter O'Shaughnessy</title>
    {{/if}}
    <meta name="description" content="Future tech geek and mostly-JavaScript developer">
    <link rel="stylesheet" href="/styles/styles.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,400italic,700italic">
    <link rel="icon" href="/images/favicon.png" type="image/png">
  </head>
  <body>
    <header>
      <h1><a href="/">Peter O'Shaughnessy</a></h1>
      <h2>Future technologies geek, mostly-JavaScript developer and tech lead at <a href="http://pebblecode.com">pebble {code}</a></h2>
      <nav>
        <ul>
          <li><a href="/"{{#equals path ''}} class="active"{{/equals}}>Blog</a></li>
          <li><a href="/portfolio/"{{#equals path 'portfolio'}} class="active"{{/equals}}>Portfolio</a></li>
          <li><a href="/talks"{{#equals path 'talks'}} class="active"{{/equals}}>Talks</a></li>
        </ul>
      </nav>
    </header>
