<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{#if title}}
      <title>{{title}} - Peter O'Shaughnessy</title>
    {{else}}
      <title>Peter O'Shaughnessy</title>
    {{/if}}
    <meta name="description" content="Future tech geek, tech lead and mostly-JavaScript developer at pebble {code}">
    <link rel="stylesheet" href="/styles/styles.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,400italic,700italic">
    <link rel="icon" href="/images/favicon.png" type="image/png">
  </head>
  <body>
    <header>
      <h1><a href="/">Peter O'Shaughnessy</a></h1>
      <h2>Future technologies geek, tech lead &amp; mostly-JavaScript developer at <a href="http://pebblecode.com">pebble {code}</a></h2>
    </header>
    <nav>
      <ul>
        <li><a href="/"{{#equals path ''}} class="active"{{/equals}}>Blog</a></li>
        <li><a href="/pages/portfolio/"{{#equals path 'pages/portfolio'}} class="active"{{/equals}}>Portfolio</a></li>
        <li><a href="/pages/talks"{{#equals path 'pages/talks'}} class="active"{{/equals}}>Talks</a></li>
      </ul>
    </nav>
