<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{#if title}}
      <title>{{title}} - Peter O'Shaughnessy</title>
    {{else}}
      <title>Peter O'Shaughnessy</title>
    {{/if}}
    <meta name="description" content="Developer, writer and speaker about web APIs and the future of the web">
    <link rel="stylesheet" href="/styles/styles.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,400italic,700italic">
    <link rel="icon" href="/images/favicon.png" type="image/png">
  </head>
  <body>
    <header>
      <div>
        <div class="avatar-container">
          <a href="/"><img class="avatar" src="/images/peter-cartoon-circle.png" alt="Peter's cartoon avatar"/></a>
        </div>
        <div class="title-and-tagline-container">
          <h1><a href="/">Peter O'Shaughnessy</a></h1>
          <h2>Web developer advocate</h2>
        </div>
      </div>
      <nav>
        <ul>
          <li><a href="/"{{#equals path ''}} class="active"{{/equals}}>Blog</a></li>
          <li><a href="/portfolio/"{{#equals path 'portfolio'}} class="active"{{/equals}}>Portfolio</a></li>
          <li><a href="/talks/"{{#equals path 'talks'}} class="active"{{/equals}}>Talks</a></li>
          <li><a href="/about/"{{#equals path 'about'}} class="active"{{/equals}}>About</a></li>
        </ul>
      </nav>
    </header>
