<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    {{#if title}}
      <title>{{title}} - Peter O'Shaughnessy</title>
    {{else}}
      <title>Peter O'Shaughnessy</title>
    {{/if}}
    <meta name="description" content="Tech lead, mostly-Web developer and general future tech enthusiast">
  </head>
  <body>
