<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    {{#if title}}
      <title>{{title}} - Peter O'Shaughnessy</title>
    {{else}}
      <title>Peter O'Shaughnessy</title>
    {{/if}}
    <meta name="description" content="Tech lead, mostly-Web developer and general future tech enthusiast">
    <link rel="stylesheet" href="styles/styles.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,400italic,700italic">
  </head>
  <body>
    <header>
      <h1>Peter O'Shaughnessy</h1>
      <h2>Tech lead, mostly-Web developer and general future tech enthusiast</h2>
    </header>
    <nav>
      <ul>
        <li><a href="/">Blog</a></li>
        <li><a href="/pages/portfolio/">Portfolio</a></li>
        <li><a href="/pages/talks">Talks</a></li>
      </ul>
    </nav>
