{{> header}}
<div id="contents">
  <div id="intro">
    {{{ contents }}}
  </div>
  <div id="blog-index">
    {{#each collections.posts}}
      <h3>{{this.title}}</h3>
      <article>{{{this.contents}}}</article>
    {{/each}}
  </div>
</div>
{{> footer}}
