{{> header}}
<div class="contents">
  <section id="blog-index" class="page">
    {{{ contents }}}
    <div class="blog-links">
      {{#each collections.posts}}
        <h3><a href="{{this.path}}">{{this.title}}</a></h3>
        <p class="date">{{formatDate this.date}}</p>
      {{/each}}
    </div>
  </section>
</div>
{{> footer}}
