{{> header}}
<div class="contents">
  <article class="page page-post">
    <h1>{{ title }}</h1>
    <p class="date"><time>{{formatDate date}}</time></p>
    {{{ contents }}}
    {{#if this.tags}}
      <p class="tags">
        {{#eachCommaSeparated this.tags}}
          <span>{{this}}</span>
        {{/eachCommaSeparated}}
      </p>
    {{/if}}
  </article>
</div>
{{> footer}}
