body {
  font-size: 100%;
  font-family: 'Helvetica Neue', helvetica, arial, sans-serif;
  background-color: #303138;
  -webkit-font-smoothing: antialiased;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

img {
  max-width: 100%;
}

a {
  color: #505080;
}

h1 a,
h2 a,
h3 a {
  text-decoration: none;
}

header {
  padding: 10px;
  text-align: center;
}

header > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .avatar-container {
  display: flex;
  justify-content: center;
  flex-basis: 60px;
  flex-shrink: 0;
  padding-top: 10px;
}

@media (min-width: 700px) {
  header .avatar-container {
    flex-basis: 150px;
    flex-shrink: 0;
  }
}

header .title-and-tagline-container {
  text-align: left;
  padding: 0 10px;
}

header .avatar {
  width: 50px;
  height: 50px;
}

@media (min-width: 700px) {
  header .avatar {
    width: 100px;
    height: 100px;
    margin-left: 15px;
  }
}

header h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-size: 1.4em;
  text-transform: uppercase;
  text-align: left;
  margin: 20px 0 10px 0;
  line-height: 1em;
}

@media (min-width: 400px) {
  header h1 {
    font-size: 1.8em;
  }
}

@media (min-width: 700px) {
  header h1 {
    font-size: 2.2em;
  }
}

header h1 a {
  color: #fff;
  -o-transform: scaleY(1.3);
  -ms-transform: scaleY(1.3);
  -moz-transform: scaleY(1.3);
  -webkit-transform: scaleY(1.3);
  transform: scaleY(1.3);
}

header h2 {
  display: none;
  font-size: 1.2em;
  text-align: left;
  color: #ddd;
  margin: 0 0 1em 0;
}

@media (min-width: 700px) {
  header h2 {
    display: inline-block;
  }
}

header h2 a {
  color: #8282a7;
}

nav ul {
  padding: 0;
  margin: 0.8em 0 0.5em 0;
  text-align: center;
}

nav li {
  display: inline-block;
  padding: 4px 4px;
}

@media (min-width: 400px) {
  nav li {
    padding: 4px 6px;
  }
}

@media (min-width: 700px) {
  nav li {
    padding: 4px 8px;
  }
}

nav li a {
  color: #8282a7;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

@media (min-width: 700px) {
  nav li a {
    font-size: 1.3em;
  }
}

nav li a.active {
  color: #fff;
  border-bottom: none;
}

.contents {
  background-color: #fff;
  max-width: 960px;
  margin: 0 auto;
  padding: 10px;
}

@media (min-width: 400px) and (max-width: 699px) {
  .contents {
    padding: 10px 20px;
  }
}

.page {
  max-width: 700px;
  margin: 0 auto;
  padding: 10px 0;
  overflow-x: hidden;
}

@media (min-width: 700px) {
  .page {
    font-size: 1.1em;
    padding: 20px 0;
  }
}

.page p,
.page li {
  line-height: 1.6em;
  color: #333;
}

.page h2 {
  font-size: 1.6em;
  margin: 0.5em 0;
}

.page-post h2 {
  margin-top: 1em;
}

.page h3 {
  margin-top: 2em;
}

/* Used for captions */
.page h6 {
  color: #666;
  font-size: 0.8em;
  margin: -0.75em 0 3em;
}

.page .date {
  margin-bottom: 2em;
  font-style: italic;
  color: #666;
}

.page .credit {
  margin: 0 0 1.5em 0;
  font-size: 0.8em;
  color: #aaa;
}

.page .credit a,
.page .credit a:visited {
  color: #999;
}

.page .venue-and-date {
  font-style: italic;
}

.page .venue-and-date a {
  text-decoration: none;
}

.page .info {
  margin: 0.5em 0 1em 0;
}

/* E.g. event photos, project images */
.page p a img {
  margin-top: 1em;
}

.page blockquote {
  border-left: 10px solid #505080;
  padding-left: 20px;
  font-style: normal;
  margin: 2em 0;
  font-size: 1.1em;
}

.page blockquote p {
  color: #505080;
}

.page pre {
  max-width: 100%;
  padding: 10px;
  background: #eee;
  font-size: 1.1em;
  overflow-x: auto;
}

.page iframe {
  max-width: 100%;
}

.page .tags {
  margin: 2em 0;
}

.blog-links {
  margin-top: 2em;
}

.blog-link {
  padding-bottom: 5px;
}

.blog-link:after {
  content: "";
  display: table;
  clear: both;
}

.blog-link .thumbnail {
  float: left;
  display: block;
  width: 200px;
  margin-right: 20px;
}

.blog-link h3 {
  font-size: 1.3em;
  margin: 1.2em 0 0 0;
}

.blog-link:first-child h3 {
  margin-top: 0;
}

.blog-link .thumbnail + h3 {
  margin-top: 0.5em;
}

.blog-link .date {
  font-size: 0.95em;
  margin: 0.25em 0;
}

.blog-link .tags {
  margin: 0.5em 0;
}

.blog-link .excerpt {
  font-style: italic;
  clear: left;
  margin: 0.8em 0 0 0;
}

.blog-link .read-link {
  margin: 0.8em 0 1em 0;
}

@media (max-width: 700px) {
  .blog-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: column;
  }
  .blog-link .thumbnail {
    /* Display between date and tags */
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    margin: 10px 0 0 0;
    float: none;
  }
  .blog-link .title-and-date {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
  .blog-link .tags {
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
    margin-top: 12px;
  }
  .blog-link .excerpt {
    -webkit-order: 4;
    -ms-flex-order: 4;
    order: 4;
    margin-top: 6px;
  }
  .blog-link .read-link {
    -webkit-order: 5;
    -ms-flex-order: 5;
    order: 5;
  }
}

.read-link {
  margin: 1em 0;
}

.read-link a {
  background: #505080;
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
}

.tags span {
  padding: 5px;
  font-size: 0.7em;
  background-color: #ddd;
  color: #444;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.pages-page p {
  margin: 0;
}

.pages-page h3 {
  margin: 2.4em 0 0.5em 0;
}

.pages-page h3:first-of-type {
  margin-top: 2em;
}

.pages-page ul {
  padding-left: 20px;
}

.pages-page p,
.pages-page li {
  line-height: 1.4em;
}

.pages-page h1 + p {
  margin: 1em 0;
}

.pages-page img {
  max-width: 500px;
  -webkit-transition: opacity 1s;
  transition: opacity 0.5s;
}

.pages-page a:hover img {
  opacity: 0.8;
}

footer {
  font-size: 0.9em;
  text-align: center;
  color: #ccc;
  margin: 1.5em 0;
}

footer a {
  color: #a2a2cb;
  text-decoration: none;
  padding: 0 5px;
  font-size: 1.2em;
}
